@font-face {
  font-family: 'digital';
  src: url('fonts/DS-DIGI.TTF') format('truetype');
  font-style: normal;
  font-weight: normal;
}
html,body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    height:100%;
    background-color: rgb(228, 222, 222);
}
.dark{
  background-color:black;
}
header {
    height:150px;
    background:#546ae4;
    padding:10px 0px;
    
}
#nav{
    width: 100%;
    height: 40px;
    background-color:#333333;
    
    font-family: sans-serif,helvetica,arial;
    font-size: 14px;
    box-shadow: 0px 0px 2px gray;
}
#nav ul{
    list-style: none;
    text-decoration: none;
    margin: 0px auto;
    width: 1130px;
}
#nav >ul>li{
    line-height: 40px;
    float: left;
    border-right:1px solid gray;
    transition:all 300ms;
}
#nav >ul>li a{
    display: block;
    padding-left: 20px;
    padding-right: 20px;
    text-decoration: none;
    color:white;
}
#nav >ul>li>a:first-child{
    border-left: 1px solid gray;
}
#nav>ul>li:hover{
   
    background-color:#546ae4;
    box-shadow: 0px 0px 4px #6177f3 inset;
}
.timer{
  height:100px;
   width:100px;
   margin-left: 1%;
   -moz-border-radius:50px;
   -webkit-border-radius:50px;
   border-radius:50px;
  background-color: rgba(66, 64, 64, 0.452);
}
.timer p{
margin-top: 25%;
margin-left: 40%;

position: relative;
height:50%;
}
#countdown{
  font-family: digital;
  padding-top: 33%;
  font-size: 30px;
}
table{
    border: 2px solid black;
    height:3%;
}

table th{
    border-right: 1px solid black;
    margin:5px;
    padding:5px;
    font-family: helvetica, arial, sans-serif;
}
table td{
   height:30px;
    text-align:center;
    margin:5px;
    padding:5px;
}
#titulo{
  left:700px;
  display: flex;
  justify-content: center;
  position:absolute;
  padding: 10px;
 
}
#titulo-L{
    color: black;
    padding: 5px;
    font-size:18px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
aside {
    float: right;
    border: 1px solid red;
    width: 19%;
    border: 1px solid red;
   
}
#formulario{
    border-radius: 10px,10px;
    border: 1px solid red;
    float: left;
    width: 60%;
    padding: 30px 20px;
    margin-left: 30%;
    background-color: rgba(179, 219, 217, 0.178);
    text-align: center;
    border-radius: 5px 0 0 5px;
}
#introduce {
    float: left;
    width: 480px;
    height: 347px;
    border-radius: 6px ,6px;
    padding-top: 2%;
    padding-right: 20px;
  }
  
  [type=text],[type=number] {
    border-radius:3px;
    display: block;
    margin: 0 auto;
    width: 80%;
    border: 0;
    border-bottom: 1px solid rgba(0,0,0,.2);
    height: 45px;
    line-height: 45px;  
    margin-bottom: 10px;
    font-size: 1em;
    color: rgba(22, 6, 6, 0.4);
  }
  
  [type=submit] {
    margin-top: 25px;
    width: 80%;
    border: 0;
    background-color: #53CACE;
    border-radius: 5px;
    height: 50px;
    color: white;
    font-weight: 400;
    font-size: 1em;
  }
  
  [type='text']:focus {
    outline: none;
    border-color: #53CACE;
  }

 #formulario button{
    margin-top: 25px;
    width: 80%;
    border: 0;
    background-color: #53CACE;
    border-radius: 5px;
    height: 50px;
    color: white;
    font-weight: 400;
    font-size: 1em;
  }
  button{
    margin-top: 2%;
    margin-left: 1%;
    margin-bottom: 1%;
    width: 10%;
    border: 0;
    background-color: #53CACE;
    border-radius: 5px;
    height: 50px;
    color: white;
    font-weight: 400;
    font-size: 1em;
  }
  button:hover{
    background-color: #46a0a3;
    transition:800ms;
    box-shadow: 2px   ;
    border-radius: 7px;
  }

  #formulario button:hover{
    background-color: #46a0a3;
    transition:800ms;
    box-shadow: 2px   ;
    border-radius: 7px;
  }
  #tabla{
    margin-top: 2%;
    
    left: 80%

  }
  #ajuste{
    border: 3px solid red;
    float: right;

    margin-right: 10%;
  }
  #tabla th {
    font-size: 20px;
  }
  #jugadores{
    border: 1px solid green;
    left: 80%;
    margin-top:2%;
    height: 33%;
   float: left;
   overflow:scroll;
  }
footer {
    height: 5%; 
    border-top: 5%;
    padding:5px 0px;
    clear: both;
    background-color: #1B1E1F;
    color: rgb(253, 253, 253);
}
footer a{
    color: rgb(19, 236, 236);

}
footer a:hover{
    color: rgb(119, 23, 156);
    
}
#footL{
position:absolute;
 text-align:left;
 left:15px;
 padding-top: 10px;
}
#footR{
position:absolute;
text-align:right;
padding-right: 15px;

right: 50px;
padding-top: 10px;
}
#footC{
position:absolute;
text-align:center;
padding-top: 10px;
right:880px;


}
.countdown{
  background-color:#333333;

}

figure {
    display: table; margin: 0 auto;
}