@font-face {
  font-family: 'digital';
  src: url('fonts/DS-DIGI.TTF') format('truetype');
  font-style: normal;
  font-weight: normal;
}
/*ESTILOS GENAREALES*/
html,body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    height:100%;
    background-color: #ccc !important;
}
*{
  margin:0px;
  padding:0px;
}
p{
  height:10px;
}
.clearfix{
  float:none;
  clear: both;
}
h3{
  margin-top: 1%;
}
table{
  margin-left:5%;
}

header {
    height:150px;
    background:#546ae4;
    padding:10px 0px;
    
}
#red{
  background-color: red;
}
#contenido{
margin-top: 1%;
margin-left:5%;
margin-right: 5%;
}
#nav{
    width: 100%;
    height: 40px;
    background-color:#333333;
    
    font-family: sans-serif,helvetica,arial;
    font-size: 14px;
    box-shadow: 0px 0px 2px gray;
}
#nav ul{
    list-style: none;
    text-decoration: none;
    margin: 0px auto;
    width: 1130px;
}
#nav >ul>li{
    line-height: 40px;
    float: left;
    border-right:1px solid gray;
    transition:all 300ms;
}
#nav >ul>li a{
    display: block;
    padding-left: 20px;
    padding-right: 20px;
    text-decoration: none;
    color:white;
}
#nav >ul>li>a:first-child{
    border-left: 1px solid gray;
}
#nav>ul>li:hover{
   
    background-color:#546ae4;
    box-shadow: 0px 0px 4px #6177f3 inset;
}
.timer{
  height:100px;
   width:100px;
   margin-left: 1%;
   -moz-border-radius:50px;
   -webkit-border-radius:50px;
   border-radius:50px;
  background-color: rgba(66, 64, 64, 0.452);
}
.timer p{
margin-top: 25%;
margin-left: 40%;

position: relative;
height:50%;
}
#countdown{
  font-family: digital;
  padding-top: 33%;
  font-size: 30px;
}
table{
    border: 2px solid black;
    height:3%;
}
#acertado{
  margin-top:5 px;
  margin-bottom: 5px;
}
table th{
    border-right: 1px solid black;
    margin:5px;
    padding:5px;
    font-family: helvetica, arial, sans-serif;
}
table td{
   height:30px;
    text-align:center;
    margin:5px;
    padding:5px;
}
#titulo{
  left:700px;
  display: flex;
  justify-content: center;
  position:absolute;
  padding: 10px;
 
}
#titulo-L{
    margin-left: 5%;
    color: black;
    padding: 5px;
    font-size:18px;
    letter-spacing:2px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
aside {
    float: right;
    border: 1px solid red;
    width: 19%;
    border: 1px solid red;
   
}
#formulario{
    border-radius: 10px,10px;
    border: 1px solid red;
    float: left;
    width: 60%;
    padding: 30px 20px;
    margin-left: 30%;
    background-color: rgba(179, 219, 217, 0.178);
    text-align: center;
    border-radius: 5px 0 0 5px;
}
#introduce {
    float: left;
    width: 480px;
    height: 347px;
    border-radius: 6px ,6px;
    padding-top: 2%;
    padding-right: 20px;
  }
  
  [type=text],[type=number] {
    border-radius:3px;
    display: block;
    margin: 0 auto;
    width: 80%;
    border: 0;
    border-bottom: 1px solid rgba(0,0,0,.2);
    height: 45px;
    color: rgb(84, 154, 219);
    line-height: 45px;  
    margin-bottom: 10px;
    font-size: 1em;
    color: rgba(22, 6, 6, 0.4);
  }
  
  [type=submit] {
    margin-top: 25px;
    width: 80%;
    border: 0;
    background-color: #53CACE;
    border-radius: 5px;
    height: 50px;
    color: white;
    font-weight: 400;
    font-size: 1em;
  }
  
  [type='text']:focus {
    outline: none;
    border-color: #53CACE;
  }

#btnplayer{
  margin-top: 2%;
  margin-left: 1%;
  margin-bottom: 1%;
  width: 10%;
  border: 0;
  background-color: #e00c4ccb;
  border-radius: 5px;
  height: 50px;
  color: white;
  font-weight: 400;
  font-size: 1em;
}
 #btnplayer:hover{
  background-color: #ac0939cb;
  transition:700ms ;
  box-shadow: 2px   ;
 }
 #btnbetf{
  margin-top: 2%;
  margin-left: 1%;
  margin-bottom: 1%;
  width: 50%;
  border: 0;
  background-color: #53CACE;
  border-radius: 5px;
  height: 50px;
  color: white;
  font-weight: 400;
  font-size: 1em;
}

  #btnbet{
    margin-top: 2%;
    margin-left: 1%;
    margin-bottom: 1%;
    width: 10%;
    border: 0;
    background-color: #53CACE;
    border-radius: 5px;
    height: 50px;
    color: white;
    font-weight: 400;
    font-size: 1em;
  }
  #btnbet:hover{
    background-color: #46a0a3;
    transition:800ms;
    box-shadow: 2px   ;
    border-radius: 7px;
  }

  #formulario button:hover{
    background-color: #46a0a3;
    transition:800ms;
    box-shadow: 2px   ;
    border-radius: 7px;
  }
  #tabla{
    margin-top: 2%;
    
    left: 80%

  }
  #ajuste{
    border: 3px solid red;
    float: right;

    margin-right: 10%;
  }
  #tabla th {
    font-size: 20px;
  }
  #jugadores{
    border: 1px solid green;
    left: 80%;
    margin-top:2%;
    height: 33%;
   float: left;
   overflow:scroll;
  }
footer {
    height: 5%; 
    border-top: 5%;
    padding:5px 0px;
    clear: both;
    background-color: #1B1E1F;
    color: rgb(253, 253, 253);
}
footer a{
    color: rgb(19, 236, 236);

}
footer a:hover{
    color: rgb(119, 23, 156);
    
}
#footL{
position:absolute;
 text-align:left;
 left:15px;
 padding-top: 10px;
}
#footR{
position:absolute;
text-align:right;
padding-right: 15px;

right: 50px;
padding-top: 10px;
}
#footC{
position:absolute;
text-align:center;
padding-top: 10px;
right:880px;


}
.countdown{
  background-color:#333333;

}

figure {
    display: table; margin: 0 auto;
}
/*CARD*/
#cardred {
  width: 280px;
	height: 200px;
	border-radius: 15px;
	padding: 1.5rem;
	background: rgb(223, 41, 41);
  font-size:30px;
  color:black;
  margin-top:20px;
  text-align:center;
  transition: all 300ms;
  margin-left: 10px;

}
#cardgreen {
  width: 280px;
	height: 200px;
	border-radius: 15px;
	padding: 1.5rem;
	background: rgb(3, 138, 10);
  font-size:30px;
  color:black;
  margin-top:20px;
  text-align:center;
  transition: all 300ms;
  margin-left: 10px;

}
#limit{
  height:700px;
}
#cardblack {
  width: 280px;
	height: 200px;
	border-radius: 15px;
	padding: 1.5rem;
	background: rgb(34, 32, 32);
  color:white;
  margin-top:20px;
  text-align: center;
  font-size:30px;
  transition: all 300ms;
  margin-left: 10px;
}
#cardblack:hover {
  background-color:rgb(0, 0, 0);
  color:white;

  text-align: center;
  font-size:40px;
  border-radius: 50px;

}
#cardred:hover {
  background-color:rgb(238, 32, 32);
  color:white;

  text-align: center;
  font-size:40px;
  border-radius: 50px;

}
#cardgreen:hover {
	background: rgb(15, 160, 22);
  font-size:40px;
  border-radius: 50px;
}
#mazo{
  display: grid;
  background-color:#ccc;
  grid-template-columns: 25% 25% 25% 25%;
  align-items: center;
  margin-top: 1%;
margin-left:5%;
margin-right: 5%;
height:2900px;
}
.spinner{
  display: flex;
  align-items: center;
  justify-content:center;
  width:50px;
  height:50px;
  border-radius:50%;
  border:3px dashed #3d21bb;
  border-top-color: transparent;
  border-bottom-color: transparent;
  animation: spin 1s infinite;
}
@keyframes spin {
  0%{ transform: rotate(0deg)}
  50%{transform: rotate(180 deg) scale(1.2)}
  100%{transform: rotate(360deg)}
}
@media (max-width:784px) {
  #mazo{
    display: grid;
    background-color:#ccc;
    grid-template-columns: 50% 50% ;
    align-items: center;
    margin-top: 1%;
  margin-left:2%;
  margin-right: 2%;
  height:2900px;
  
  }
  #cardred {
    width: 180px;
    height: 50px;
    border-radius: 15px;
    padding: 1.5rem;
    background: rgb(223, 41, 41);
    font-size:30px;
    color:black;
    margin-top:20px;
    text-align:center;
    transition: all 300ms;
    margin-left: 10px;
  
  }
  #cardgreen {
    width: 180px;
    height: 150px;
    border-radius: 15px;
    padding: 1.5rem;
    background: rgb(3, 138, 10);
    font-size:30px;
    color:black;
    margin-top:20px;
    text-align:center;
    transition: all 300ms;
    margin-left: 10px;
  
  }
  #limit{
    height:700px;
  }
  #cardblack {
    width: 180px;
    height: 100px;
    border-radius: 15px;
    padding: 1.5rem;
    background: rgb(34, 32, 32);
    color:white;
    margin-top:20px;
    text-align: center;
    font-size:30px;
    transition: all 300ms;
    margin-left: 10px;
  }

  #cardblack:hover {
    background-color:rgb(0, 0, 0);
    color:red;
    text-align: center;
    font-size:40px;
    border-radius: 50px;
  
  }
  #cardred:hover {
    background-color:rgb(238, 32, 32);
    color:white;
  
    text-align: center;
    font-size:40px;

  
  }
  #cardgreen:hover {
    background: rgb(15, 160, 22);
    font-size:40px;
    border-radius: 50px;
  }
  #titulo-L{
      padding: 5px;
      font-size:18px;
      letter-spacing:2px;
      font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  }
   header #titulo{
    display: grid;
    justify-content: center;
    grid-template-columns: 50% 50%;
    padding: 10px;
   
  }
  header{
    display:grid;
    grid-template: 100%;
    align-items: center;
    justify-content: center;
  }
}