html,body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    height:100%;
}

header {
    height:150px;
    background:#546ae4;
    padding:10px 0px;
    
}

#titulo{
  left:700px;
  display: flex;
  justify-content: center;
  position:absolute;
  padding: 10px;
 
}
#titulo-L{
    color: black;
    padding: 5px;
    font-size:18px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
aside {
    float: right;
    border: 1px solid red;
    width: 19%;
    border: 1px solid red;
   
}
footer {
    height: 60px; 
    padding:5px 0px;
    clear: both;
    background-color: #1B1E1F;
    color: rgb(253, 253, 253);
}
footer a{
    color: rgb(19, 236, 236);

}
footer a:hover{
    color: rgb(119, 23, 156);
    
}
#footL{
position:absolute;
 text-align:left;
 left:15px;
 padding-top: 10px;
}
#footR{
position:absolute;
text-align:right;
padding-right: 15px;

right: 50px;
padding-top: 10px;
}
#footC{
position:absolute;
text-align:center;
padding-top: 10px;
right:880px;


}


figure {
    display: table; margin: 0 auto;
}